<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Icono</title>
    <link rel="stylesheet" href="css/estilos.css" />
</head>

<body>
    <div>
    <nav>
        <ul class = "barra">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/photos">Photos</a></li>
        </ul>
    </nav>
    </div>
    <h1>Breaking down the legend: Steve Jobs</h1>

    <img class = "home" src="imagenes/home.png" />
    
    <script src="app.js"></script>
</body>

</html>