<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Icono</title>
    <link rel="stylesheet" href="css/estilos.css" />
</head>

<body>
    <div>
    <nav>
        <ul class = "barra">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/photos">Photos</a></li>
        </ul>
    </nav>
    </div>
    <h1>Let´s take a look to Apple models troughout the history</h1>
    <iframe width="885" height="498" src="https://www.youtube.com/embed/4w5qWXGaL9k" title="LA EVOLUCION DEL IPHONE - iPhone 1 hasta iPhone 13 PRO MAX" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </iframe>
    
    
    <script src="app.js"></script>
</body>

</html> 